@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    font-family: 'Inter', sans-serif; 
    -webkit-tap-highlight-color: transparent; 
}
/* Light mode scrollbar */
::-webkit-scrollbar-track { background: #1e293b; } 
::-webkit-scrollbar-thumb { background: #475569; } 
::-webkit-scrollbar-thumb:hover { background: #64748b; }

/* Dark mode scrollbar */
html.dark ::-webkit-scrollbar-track { background: #1e293b; } 
html.dark ::-webkit-scrollbar-thumb { background: #475569; } 
html.dark ::-webkit-scrollbar-thumb:hover { background: #64748b; }
